<p id="notice"><%= notice %></p>

<h1>Hi <%= @user.name %>, welcome to <%= @party.name %>!</h1>
<h2>Your party code is <%= @party.id %></h2>

<%= form_with(url: parties_leave_party_path, local: true) do |form| %>
    <%= form.hidden_field :user_id, :value => @user.id %>
    <%= form.hidden_field :party_id, :value => @party.id %>
    <div class="actions">
        <%= form.submit 'Leave Party' %>
    </div>
<% end %>

<br><br>

<%= form_with(url: parties_add_song_path, local: true) do |form| %>

    <%= form.hidden_field :user_id, :value => @user.id %>
    <%= form.hidden_field :party_id, :value => @party.id %>

    <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, id: :title %>
    </div>
    
    <div class="field">
        <%= form.label :artist %>
        <%= form.text_field :artist, id: :artist %>
    </div>

    <div class="actions">
        <%= form.submit 'Add Song' %>
    </div>
<% end %>
<br>

<h2>Playlist</h2>
<div class="table_container">
    <table class="table">
        <% if @songs.length > 0 %>
            <% @songs.each do |song| %>
                <tr>
                    <td>
                        <%= song.title %> - <%= song.artist %>
                    </td>
                    <td>
                        <div class="vote">
                            <%= link_to image_tag("dislike.png", :size => "20x20"), party_song_downvote_path(:party_song_id => PartySong.getPartySong(@party.id, song.id), :party_id => @party.id, :song_id => song.id, :user_id => @user.id), method: :put %>
                        </div> 
                        <div class="votes"> 
                            <%= song.getVotes(@party.id, song.id) %>
                        </div>

                        <div class="vote">
                            <%= link_to image_tag("like.png", :size => "20x20"), party_song_upvote_path(:party_song_id => PartySong.getPartySong(@party.id, song.id), :party_id => @party.id, :song_id => song.id, :user_id => @user.id), method: :put %>
                        </div>

                        <%= link_to image_tag("redx.png", :size => "20x20"), party_song_path(PartySong.getPartySong(@party.id, song.id), :party_id => @party.id, :user_id => @user.id), method: :delete %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </table>
</div>

<%= link_to 'Your Parties', @user %>
