<p id="notice"><%= notice %></p>
<div class="center">
    <h1>Hello, <%= @user %></h1>
    
    <div class="table_container"> 
        <h2>Your Parties</h2>
            <table class="table">
                <% @user_parties.each do |party| %>
                    <tr>
                        <td><%= party.name %></td>
                    </tr>
                <% end %> 
            </table>
        <br>
    </div>
    <h2>Create a Party</h2>
    <br>
    <%= link_to 'Join a Party', new_user_party_user_path(:user_id => @user.id) %>
    <%= link_to 'New Party', new_party_path %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
</div>
