<%= form_with(url: party_songs_path, local: true) do |form| %>
  <% if party_song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(party_song.errors.count, "error") %> prohibited this party_song from being saved:</h2>

      <ul>
      <% party_song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :genre %>
    <select name='genre'>
    <%= options_for_select([['Hot-100'], ['Country'], ['Hip-Hop'], ['Pop'], ['Rock'], ['Latin'], ['Electronic'], ['Rap'], ['Christian']])%>
    </select>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= date_select(:start_date, :start_date, start_year: 1953) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>