<p id="notice"><%= notice %></p>

<p>
  <strong>Genre:</strong>
  <%= @party_song_genre %>
</p>

<p>
  <strong>Song:</strong>
  <%= @party_song_date %>
</p>

<p>
  <strong>Number of Songs:</strong>
  <%= @party_song_count %>
</p>

<%= link_to 'Edit', edit_party_song_path(@party_song) %> |
<%= link_to 'Back', party_songs_path %>
