<!DOCTYPE html>
<html>
  <head>
    <title>DJmocracy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="user_widget">
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true"></div>
        <!--<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>-->
        <div id="status">
        </div>
        <!--
        <% if @current_user %>
            Welcome <strong><%= current_user.name %></strong>!
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
            <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
        <%= link_to "Sign out", signout_path, id: "sign_out" %> -->

    </div>
    <%= yield %>
  </body>
</html>
